In [6]:
import pandas as pd
# 1) Dateien einlesen
stationInfoFile = 'cleaned_station_data.csv'
tripInfoFile    = 'cleaned_trip_data.csv'

cleanstationData = pd.read_csv(stationInfoFile, encoding='latin-1')
cleantripData    = pd.read_csv(tripInfoFile,    encoding='latin-1')

cleanstationData

,Kiosk ID,Kiosk Name,Region,Status,Latitude,Longitude
0,3000,Virtual Station,Unknown,Active,0.000000,0.000000
1,3005,7th & Flower,DTLA,Active,34.048500,-118.258537
2,3006,Olive & 8th,DTLA,Active,34.045540,-118.256668
3,3007,5th & Grand,DTLA,Active,34.050480,-118.254593
4,3008,Figueroa & 9th,DTLA,Active,34.046612,-118.262733
...,...,...,...,...,...,...
424,4687,Evergreen Hub - cicLAvia Heart of LA 2024,DTLA,Inactive,34.043671,-118.200844
425,4689,University Village (Sepulveda Blvd),Westside,Active,34.023849,-118.426071
426,4690,Vineland & Burbank,North Hollywood,Active,34.172451,-118.370369
427,4691,CicLAvia West Adams Meets University Park - We...,Westside,Inactive,34.025520,-118.353104
428,4692,CicLAvia West Adams Meets University Park - We...,Westside,Inactive,34.025532,-118.353104

In [7]:
# 1) Dateien einlesen
stationInfoFile = '../data/metro-bike-share-stations-2025-04-01.csv'
tripInfoFile    = '../data/metro-trips-2025-q1.csv'

stationData = pd.read_csv(stationInfoFile, encoding='latin-1')
tripData    = pd.read_csv(tripInfoFile,    encoding='latin-1')

stationData

,Kiosk ID,Kiosk Name,Go Live Date,Region,Status,Latitude,Longitude,status2
0,3000,Virtual Station,7/7/2016,NaN,Active,0.000000,0.000000,#REF!
1,3005,7th & Flower,7/7/2016,DTLA,Active,34.048500,-118.258537,#REF!
2,3006,Olive & 8th,7/7/2016,DTLA,Active,34.045540,-118.256668,#REF!
3,3007,5th & Grand,7/7/2016,DTLA,Active,34.050480,-118.254593,#REF!
4,3008,Figueroa & 9th,7/7/2016,DTLA,Active,34.046612,-118.262733,#REF!
...,...,...,...,...,...,...,...,...
424,4687,Evergreen Hub - cicLAvia Heart of LA 2024,10/13/2024,DTLA,Inactive,34.043671,-118.200844,#REF!
425,4689,University Village (Sepulveda Blvd),10/9/2024,Westside,Active,34.023849,-118.426071,#REF!
426,4690,Vineland & Burbank,12/19/2024,North Hollywood,Active,34.172451,-118.370369,#REF!
427,4691,CicLAvia West Adams Meets University Park - We...,2/23/2025,Westside,Inactive,34.025520,-118.353104,#REF!
428,4692,CicLAvia West Adams Meets University Park - We...,2/23/2025,Westside,Inactive,34.025532,-118.353104,#REF!

In [11]:
cleantripData.isna().sum()

duration         0
start_time       0
end_time         0
start_station    0
start_lat        0
start_lon        0
end_station      0
end_lat          0
end_lon          0
bike_id          0
bike_type        0
dtype: int64

In [10]:
tripData.isna().sum()

trip_id                   0
duration                  0
start_time                0
end_time                  0
start_station             0
start_lat                19
start_lon                19
end_station               0
end_lat                2506
end_lon                2506
bike_id                   0
plan_duration             0
trip_route_category       0
passholder_type           0
bike_type                 0
dtype: int64

In [14]:
# Variante A: Mit merge auf beide Koordinaten-Spalten
matched = cleantripData.merge(
    cleanstationData[['Latitude','Longitude']],
    how='inner',
    left_on=['start_lat','start_lon'],
    right_on=['Latitude','Longitude']
)

# Nur die gewÃ¼nschten Spalten anzeigen, z.B. start_lat und start_lon
matched[['start_lat','start_lon']].drop_duplicates()

       start_lat   start_lon
0      34.051941 -118.243530
1      34.025688 -118.395302
3      33.988129 -118.471741
7      34.092602 -118.280930
8      34.065430 -118.308823
...          ...         ...
14326  34.158321 -118.370811
31346   0.000000    0.000000
65993  34.025520 -118.353104
66318  34.025532 -118.353104
72256  34.039188 -118.232529

[226 rows x 2 columns]